
		div.photos {
			margin-right: -19px;
			overflow: hidden;
		}
			 div.photos > div {
				border-radius: 3px;
				float: left;
				height: 90px;
				margin: 19px 19px 0 0;
				width: 120px;
			}
			 div.photos > div.uploading {
				border: 1px #ccc solid;
			}
			 div.photos > div.uploaded {
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}
				 div.photos > div.uploading span.progress {
					background: white;
					border-radius: 2px;
					display: block;
					height: 10px;
					margin: 40px 5px;
					overflow: hidden;
				}
					 div.photos > div.uploading span.progress span {
						background: #999;
						display: block;
						height: 100%;
					}